<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchUniversalApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an base application for Infoedge RAD. It provides Facebook Sharing, LeadBolt and AdColony.</string>
	<key>Identifier</key>
	<string>com.infoedge.baseUniversalTemplates</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>WebKit</string>
				<string>Social</string>
				<string>MessageUI</string>
				<string>MediaPlayer</string>
				<string>EventKitUI</string>
				<string>EventKit</string>
				<string>CoreTelephony</string>
				<string>CoreMedia</string>
				<string>CoreGraphics</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>AdSupport</string>
				<string>SystemConfiguration</string>
				<string>CoreMotion</string>
				<string>StoreKit</string>
				<string>QuartzCore</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -fobjc-arc -lsqlite3.0 -lz.1.2.5</string>
				<key>ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME</key>
				<string>LaunchImage</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/Prefix.pch</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Externals/Frameworks/FacebookSDK.framework</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>Frameworks</string>
			</array>
			<key>Path</key>
			<string>Externals/Frameworks/FacebookSDK.framework</string>
		</dict>
		<key>Externals/Frameworks/AdColony.framework</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>Frameworks</string>
			</array>
			<key>Path</key>
			<string>Externals/Frameworks/AdColony.framework</string>
		</dict>
		<key>Externals/SIAlertView/SIAlertView.bundle</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>SIAlertView</string>
			</array>
			<key>Path</key>
			<string>Externals/SIAlertView/SIAlertView.bundle</string>
		</dict>
		<key>Externals/SIAlertView/SIAlertView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>SIAlertView</string>
			</array>
			<key>Path</key>
			<string>Externals/SIAlertView/SIAlertView.h</string>
		</dict>
		<key>Externals/SIAlertView/SIAlertView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>SIAlertView</string>
			</array>
			<key>Path</key>
			<string>Externals/SIAlertView/SIAlertView.m</string>
		</dict>
		<key>Externals/MBProgressHUD/MBProgressHUD.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>MBProgressHUD</string>
			</array>
			<key>Path</key>
			<string>Externals/MBProgressHUD/MBProgressHUD.h</string>
		</dict>
		<key>Externals/MBProgressHUD/MBProgressHUD.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>MBProgressHUD</string>
			</array>
			<key>Path</key>
			<string>Externals/MBProgressHUD/MBProgressHUD.m</string>
		</dict>
		<key>Externals/fmdb/FMDB.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDB.h</string>
		</dict>
		<key>Externals/fmdb/FMDatabase.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabase.h</string>
		</dict>
		<key>Externals/fmdb/FMDatabase.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabase.m</string>
		</dict>
		<key>Externals/fmdb/FMDatabaseAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabaseAdditions.h</string>
		</dict>
		<key>Externals/fmdb/FMDatabaseAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabaseAdditions.m</string>
		</dict>
		<key>Externals/fmdb/FMDatabasePool.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabasePool.h</string>
		</dict>
		<key>Externals/fmdb/FMDatabasePool.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabasePool.m</string>
		</dict>
		<key>Externals/fmdb/FMDatabaseQueue.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabaseQueue.h</string>
		</dict>
		<key>Externals/fmdb/FMDatabaseQueue.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMDatabaseQueue.m</string>
		</dict>
		<key>Externals/fmdb/FMResultSet.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMResultSet.h</string>
		</dict>
		<key>Externals/fmdb/FMResultSet.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>fmdb</string>
			</array>
			<key>Path</key>
			<string>Externals/fmdb/FMResultSet.m</string>
		</dict>
		<key>Externals/LeadBolt/LeadboltOverlay.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>LeadBolt</string>
			</array>
			<key>Path</key>
			<string>Externals/LeadBolt/LeadboltOverlay.h</string>
		</dict>
		<key>Externals/LeadBolt/libLeadboltOverlay.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>LeadBolt</string>
			</array>
			<key>Path</key>
			<string>Externals/LeadBolt/libLeadboltOverlay.a</string>
		</dict>
		<key>Externals/LeadBolt/AppFireworks/AppTracker.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>LeadBolt</string>
				<string>AppFireworks</string>
			</array>
			<key>Path</key>
			<string>Externals/LeadBolt/AppFireworks/AppTracker.h</string>
		</dict>
		<key>Externals/LeadBolt/AppFireworks/libAppTracker.a</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Externals</string>
				<string>LeadBolt</string>
				<string>AppFireworks</string>
			</array>
			<key>Path</key>
			<string>Externals/LeadBolt/AppFireworks/libAppTracker.a</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>Support/Base Classes/FacebookShareViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
				<string>Base Classes</string>
			</array>
			<key>Path</key>
			<string>Support/Base Classes/FacebookShareViewController.h</string>
		</dict>
		<key>Support/Base Classes/FacebookShareViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
				<string>Base Classes</string>
			</array>
			<key>Path</key>
			<string>Support/Base Classes/FacebookShareViewController.m</string>
		</dict>
		<key>Support/Helper Classes/DBHelper.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
				<string>Helper Classes</string>
			</array>
			<key>Path</key>
			<string>Support/Helper Classes/DBHelper.h</string>
		</dict>
		<key>Support/Helper Classes/DBHelper.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
				<string>Helper Classes</string>
			</array>
			<key>Path</key>
			<string>Support/Helper Classes/DBHelper.m</string>
		</dict>
		<key>Support/Parsers</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
				<string>Parsers</string>
			</array>
			<key>Path</key>
			<string>Support/Parsers</string>
		</dict>
		<key>Support/Categories</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>Support/Categories</string>
		</dict>
		<key>Support/Utility.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Support/Utility.h</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Support/Utility.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Support</string>
			</array>
			<key>Path</key>
			<string>Support/Utility.m</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/CoreData</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>CoreData</string>
			</array>
			<key>Path</key>
			<string>Resources/CoreData</string>
		</dict>
		<key>Resources/Fonts</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>Resources/Fonts</string>
		</dict>
		<key>Resources/HTMLs</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>HTMLs</string>
			</array>
			<key>Path</key>
			<string>Resources/HTMLs</string>
		</dict>
		<key>Resources/Sounds</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Sounds</string>
			</array>
			<key>Path</key>
			<string>Resources/Sounds</string>
		</dict>
		<key>Resources/TextFiles</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>TextFiles</string>
			</array>
			<key>Path</key>
			<string>Resources/TextFiles</string>
		</dict>
		<key>Resources/XMLs</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>XMLs</string>
			</array>
			<key>Path</key>
			<string>Resources/XMLs</string>
		</dict>
		<key>Resources/Xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Xib</string>
			</array>
			<key>Path</key>
			<string>Resources/Xib</string>
		</dict>
		<key>Resources/DBs</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>DBs</string>
			</array>
			<key>Path</key>
			<string>Resources/DBs</string>
		</dict>
		<key>Resources/Storyboards/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Storyboards</string>
			</array>
			<key>Path</key>
			<string>Resources/Storyboards/Main.storyboard</string>
		</dict>
		<key>Resources/Storyboards/iPad.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Storyboards</string>
			</array>
			<key>Path</key>
			<string>Resources/Storyboards/iPad.storyboard</string>
		</dict>
		<key>Resources/Plists/userStats.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Plists</string>
			</array>
			<key>Path</key>
			<string>Resources/Plists/userStats.plist</string>
		</dict>
		<key>Resources/Images/Images.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>Resources/Images/Images.xcassets</string>
		</dict>
		<key>Resources/Constants/Bools.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/Bools.h</string>
		</dict>
		<key>Resources/Constants/Colors.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/Colors.h</string>
		</dict>
		<key>Resources/Constants/Constants.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/Constants.h</string>
		</dict>
		<key>Resources/Constants/Dimensions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/Dimensions.h</string>
		</dict>
		<key>Resources/Constants/Enums.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/Enums.h</string>
		</dict>
		<key>Resources/Constants/FunctionalMacro.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/FunctionalMacro.h</string>
		</dict>
		<key>Resources/Constants/Strings.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Constants</string>
			</array>
			<key>Path</key>
			<string>Resources/Constants/Strings.h</string>
		</dict>
		<key>Model Classes/Level/Level.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model Classes</string>
				<string>Level</string>
			</array>
			<key>Path</key>
			<string>Model Classes/Level/Level.h</string>
		</dict>
		<key>Model Classes/Level/Level.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model Classes</string>
				<string>Level</string>
			</array>
			<key>Path</key>
			<string>Model Classes/Level/Level.m</string>
		</dict>
		<key>Model Classes/Movie/Movie.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model Classes</string>
				<string>Movie</string>
			</array>
			<key>Path</key>
			<string>Model Classes/Movie/Movie.h</string>
		</dict>
		<key>Model Classes/Movie/Movie.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Model Classes</string>
				<string>Movie</string>
			</array>
			<key>Path</key>
			<string>Model Classes/Movie/Movie.m</string>
		</dict>
		<key>Cell/LevelCell/LevelCollectionViewCell.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Cell</string>
				<string>LevelCell</string>
			</array>
			<key>Path</key>
			<string>Cell/LevelCell/LevelCollectionViewCell.h</string>
		</dict>
		<key>Cell/LevelCell/LevelCollectionViewCell.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Cell</string>
				<string>LevelCell</string>
			</array>
			<key>Path</key>
			<string>Cell/LevelCell/LevelCollectionViewCell.m</string>
		</dict>
		<key>ViewControllers/CategoryViewController/CategoryViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>CategoryViewController</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/CategoryViewController/CategoryViewController.h</string>
		</dict>
		<key>ViewControllers/CategoryViewController/CategoryViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>CategoryViewController</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/CategoryViewController/CategoryViewController.m</string>
		</dict>
		<key>ViewControllers/MainViewController/MainViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>MainViewController</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/MainViewController/MainViewController.h</string>
		</dict>
		<key>ViewControllers/MainViewController/MainViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>MainViewController</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/MainViewController/MainViewController.m</string>
		</dict>
		<key>ViewControllers/QuestionViewController/QuestionViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>QuestionViewController</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/QuestionViewController/QuestionViewController.h</string>
		</dict>
		<key>ViewControllers/QuestionViewController/QuestionViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
				<string>QuestionViewController</string>
			</array>
			<key>Path</key>
			<string>ViewControllers/QuestionViewController/QuestionViewController.m</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Externals/Frameworks/AdColony.framework</string>
		<string>Externals/Frameworks/FacebookSDK.framework</string>
		<string>Externals/SIAlertView/SIAlertView.bundle</string>
		<string>Externals/SIAlertView/SIAlertView.h</string>
		<string>Externals/SIAlertView/SIAlertView.m</string>
		<string>Externals/MBProgressHUD/MBProgressHUD.h</string>
		<string>Externals/MBProgressHUD/MBProgressHUD.m</string>
		<string>Externals/fmdb/FMDB.h</string>
		<string>Externals/fmdb/FMDatabase.h</string>
		<string>Externals/fmdb/FMDatabase.m</string>
		<string>Externals/fmdb/FMDatabaseAdditions.h</string>
		<string>Externals/fmdb/FMDatabaseAdditions.m</string>
		<string>Externals/fmdb/FMDatabasePool.h</string>
		<string>Externals/fmdb/FMDatabasePool.m</string>
		<string>Externals/fmdb/FMDatabaseQueue.h</string>
		<string>Externals/fmdb/FMDatabaseQueue.m</string>
		<string>Externals/fmdb/FMResultSet.h</string>
		<string>Externals/fmdb/FMResultSet.m</string>
		<string>Externals/LeadBolt/LeadboltOverlay.h</string>
		<string>Externals/LeadBolt/libLeadboltOverlay.a</string>
		<string>Externals/LeadBolt/AppFireworks/AppTracker.h</string>
		<string>Externals/LeadBolt/AppFireworks/libAppTracker.a</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
		<string>Info.plist</string>
		<string>Prefix.pch</string>
		<string>Support/Utility.h</string>
		<string>Support/Utility.m</string>
		<string>Support/Base Classes/FacebookShareViewController.h</string>
		<string>Support/Base Classes/FacebookShareViewController.m</string>
		<string>Support/Helper Classes/DBHelper.h</string>
		<string>Support/Helper Classes/DBHelper.m</string>
		<string>Support/Parsers</string>
		<string>Support/Categories</string>
		<string>Resources/CoreData</string>
		<string>Resources/Fonts</string>
		<string>Resources/HTMLs</string>
		<string>Resources/Sounds</string>
		<string>Resources/TextFiles</string>
		<string>Resources/XMLs</string>
		<string>Resources/Xib</string>
		<string>Resources/DBs</string>
		<string>Resources/Storyboards/Main.storyboard</string>
		<string>Resources/Storyboards/iPad.storyboard</string>
		<string>Resources/Images/Images.xcassets</string>
		<string>Resources/Plists/userStats.plist</string>
		<string>Resources/Constants/Bools.h</string>
		<string>Resources/Constants/Colors.h</string>
		<string>Resources/Constants/Constants.h</string>
		<string>Resources/Constants/Dimensions.h</string>
		<string>Resources/Constants/Enums.h</string>
		<string>Resources/Constants/FunctionalMacro.h</string>
		<string>Resources/Constants/Strings.h</string>
		<string>Model Classes/Level/Level.h</string>
		<string>Model Classes/Level/Level.m</string>
		<string>Model Classes/Movie/Movie.h</string>
		<string>Model Classes/Movie/Movie.m</string>
		<string>Cell/LevelCell/LevelCollectionViewCell.h</string>
		<string>Cell/LevelCell/LevelCollectionViewCell.m</string>
		<string>ViewControllers/CategoryViewController/CategoryViewController.h</string>
		<string>ViewControllers/CategoryViewController/CategoryViewController.m</string>
		<string>ViewControllers/MainViewController/MainViewController.h</string>
		<string>ViewControllers/MainViewController/MainViewController.m</string>
		<string>ViewControllers/QuestionViewController/QuestionViewController.h</string>
		<string>ViewControllers/QuestionViewController/QuestionViewController.m</string>
	</array>
</dict>
</plist>
